<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>자유로운 지구생활</title>
    <style>

    </style>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div id="container">
        <div class="banner">
            <h1 style="margin-top: 50px;">자 유 로 운　지 구 생 활</h1>
            <ul>
                <li class="navi-item">
                    <a class="navi-link" href="./information">Information</a>
                </li>
                <li class="navi-item">
                    <a class="navi-link" href="./main">Go to Main</a>
                </li>
            </ul>
        </div>
        <hr>
        <div class="contents">
            <p class="info">
                Score Range : 0.0 ~ 5.0 <br>
                Error : ± 0.3863 <br>
                Trained Model Source : https://github.com/kairess/beauty_score <br>
                흑백, 저화질 이미지의 경우 비정상적인 점수가 산출될 가능성이 있음. 
            </p>
            <p class="info">
                제작 : David & Mr. Moon ( 자유로운 지구생활 )
            </p>
            <p class="info">
                2020-2학기 '처음 만나는 컴퓨팅' 기말 프로젝트
            </p>
            <p class="info">
                서울대학교 - Seoul National University (SNU)
            </p>
        </div>
    </div>
</body>
</html>