<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>START PAGE</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
        #container {
            font-family: 'Nanum Gothic';
            width: 800px;
            margin: 0 auto;
        }
        a.start-page {
            text-decoration: none;
            color: black;
        }
        a:hover.start-page {
            color: white;
            background-color: rgb(170, 170, 170);
        }
        h1 {
            text-align: center;
        }
    </style>
</head>
<body>
    <div id="container">
        <h1><a class="start-page" href="./main">Click Here to Start!</a></h1>
    </div>
</body>
</html>